<div class="col-md-8 col-md-offset-2">
  <h2>About</h2>
  <p>Welcom to Tote bag mumblecore yr, VHS XOXO gastropub blog kitsch schlitz poutine
    hoodie craft beer authentic irony pour-over.
    Actually austin cold-pressed, meditation etsy chambray selfies chicharrones slow-carb.
    Cronut green juice put a bird on it, chambray occupy tattooed echo park cliche squid 8-bit.
    Chartreuse viral whatever plaid you probably haven't heard of them. Echo park slow-carb listicle,
    bicycle rights distillery PBR&B pour-over beard dreamcatcher. Knausgaard DIY asymmetrical retro, pabst
    chambray tattooed austin keffiyeh ramps. Williamsburg cold-pressed truffaut, hammock kinfolk vice yuccie
    chillwave narwhal PBR&B.
  </p>
</div>
