<div class="jumbotron text-center">
  <h1>Welcome to Codecasts</h1>
  <h2>A membership site where you can watch developers code live.</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Membership</h2>
      <h4>Sign up for free and get basic access to the community.</h4><br>
      <%= link_to "Sign up to Basic.", new_user_registration_path, class: "btn btn-info btn-lg btn-block" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4>Sign up for the pro account for $9.99/month and get Access
      to the community and contact information!</h4>
      <%= link_to "Sign up to Pro!", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
  </div>
</div>
